// This file is for additional SCSS rules beyond what are in _variables.scss.

// Image path example:
$imagePath: "../images/";
// body {
//    background-image: url('#{$imagePath}bg.jpg');
// }

//.jumbotron,
//.breadcrumb {
//    color: $modal-content-color;
//    background:$modal-content-bg;
//}

//blockquote,
//.blockquote {
//    color: var(--#{$prefix}body-color); // For better color contrast.
//    border-left-color: $table-border-color;
//}

//.dropdown-menu a {
//    display: block;
//    width: 100%;
//    padding: 0.25rem 1rem;
//    clear: both;
//    font-weight: 400;
//    color: #170229;
//    text-align: inherit;
//    text-decoration: none;
//    white-space: nowrap;
//    background-color: transparent;
//    border: 0;
//    text-shadow: 0 0 1px rgba(50, 251, 226, 0.3), 0 0 2px rgba(50, 251, 226, 0.3), 0 0 5px rgba(50, 251, 226, 0.2);
//}

//.dropdown menu a {
//    color: #150225;
//    background-color: #e9ecef;
//}

.ec-header,
.textarea-toolbar > div,
.textarea-toolbar > ul {
    background: $list-group-bg;
}

.tiki .ec-day-grid-event-harness {
    background-color: $info !important;
}