<!DOCTYPE html>
<html lang="{if !empty($pageLang)}{$pageLang}{else}{$prefs.language}{/if}">
    <head>
        {include file='header.tpl'}
    </head>
    <body{html_body_attributes}>
        {if Language::isRTL()}
            <table dir="rtl" ><tr><td>
        {/if}
        <div id="tiki-mid">
            <div class="card">
                <div class="card-header">{icon name='error' alt="{tr}Error{/tr}" style="vertical-align:middle"}{tr}Error{/tr}</div>
                <div class="card-body">
                    {$msg}
                    <a href="javascript:window.close()" class="linkmenu">{tr}Close Window{/tr}</a><br><br>
                </div>
            </div>
        </div>
        {if Language::isRTL()}
            </td></tr></table>
        {/if}
        {include file='footer.tpl'}
    </body>
</html>
